@model List<BikeStation>
<p>index test</p>

@foreach (var item in Model)
{
<div class="indexApiTable">
    <p class="indexApiparagraph">@item.name</p>
    <p class="indexApiparagraph">@item.available_bikes / @item.bike_stands</p>
    <p class="indexApiparagraph">@item.commune</p>
</div>
}